<app-menu>
  <form (mouseover)="console()">
    <div class="form-field-row">
      <app-input
        label="Origem"
        [required]="true"
        [fieldReference]="getReference('origin')"
        [options]="locations"
        [isAsyncSelect]="true"
        (btnIsDisabled)="statusBtn($event)"
      ></app-input>
      <app-input
        label="Destino"
        [required]="true"
        [fieldReference]="getReference('destiny')"
        [options]="locations"
        [isAsyncSelect]="true"
        (btnIsDisabled)="statusBtn($event)"
        [isDisabled]="isOriginFill()"
      ></app-input>
    </div>
    <div class="form-field-row">
      <app-input
        label="Data de Partida"
        [required]="true"
        [fieldReference]="getReference('departureDate')"
        [options]="locations"
        [isDatePicker]="true"
        (btnIsDisabled)="statusBtn($event)"
        [editActualLocation]="editActualLocation"
      ></app-input>
      <app-input
        label="Duração"
        [required]="true"
        [fieldReference]="getReference('durationEstimated')"
        [options]="locations"
        [isTime]="true"
        (btnIsDisabled)="statusBtn($event)"
        [editActualLocation]="editActualLocation"
        type="text"
        [placeholder]="'06:30'"
      ></app-input>
    </div>
    <div class="form-field-row">
      <app-input
        label="Horário de Partida"
        [required]="true"
        [fieldReference]="getReference('departureTime')"
        [options]="locations"
        [isTime]="true"
        (btnIsDisabled)="statusBtn($event)"
        [editActualLocation]="editActualLocation"
        type="time"
      ></app-input>
      <app-input
        label="Previsão de Chegada"
        [required]="true"
        [fieldReference]="getReference('arriveDate')"
        [options]="locations"
        [isDatePicker]="true"
        (btnIsDisabled)="statusBtn($event)"
        [editActualLocation]="editActualLocation"
        [isDisabled]="true"
      ></app-input>
    </div>
    <app-button
      class="btn-save"
      text="Salvar Rota"
      type="button"
      [isDisabled]="!btnIsDisabled"
      [isLoading]="isLoading"
    ></app-button>
  </form>
</app-menu>
