<app-menu>
  <div *ngIf="!columns" class="waiting">carregando</div>
  <div *ngIf="columns && !data.length">
    <p>
      No momento não existem rotas.
      <span *ngIf="isAdmin">
        <a>Clique aqui</a> para criar a próxima rota.</span
      >
    </p>
  </div>
  <table *ngIf="columns">
    <thead>
      <tr>
        <th *ngFor="let column of columns">
          {{ column }}
        </th>
      </tr>
    </thead>

    <tbody class="tbody">
      <tr *ngFor="let item of data" class="tbody-tr">
        <td *ngFor="let column of columns" class="tbody-td">
          <div *ngIf="column === 'Ações' && isAdmin" class="container-actions">
            <app-icon
              iconType="delete"
              color="warn"
              (click)="openModal(item['id'])"
              *ngIf="item['Disponível'] === 'Sim'"
            ></app-icon>
            <app-icon
              iconType="edit"
              color="primary"
              (click)="handleEdit(item['id'])"
              *ngIf="item['Disponível'] === 'Sim'"
            ></app-icon>
            <app-icon
              iconType="not_interested"
              color="warn"
              *ngIf="item['Disponível'] === 'Não'"
              title="Essa rota está agendada"
              customClass="not-allowed"
            ></app-icon>
          </div>

          <div
            *ngIf="column === 'Aceitar' && !isAdmin"
            class="container-actions"
          >
            <app-icon
              iconType="calendar_today"
              color="primary"
              (click)="openModal(item['id'])"
            ></app-icon>
          </div>

          <div *ngIf="column !== 'Ações'">
            <span>
              {{ item[column] }}
            </span>
          </div>
        </td>
      </tr>
    </tbody>

    <tfoot>
      <tr>
        <td *ngFor="let column of columns">
          {{ column }}
        </td>
      </tr>
    </tfoot>
  </table>
</app-menu>
<app-dialog *ngIf="showModal">
  <div class="dialog-content">
    <h5>{{ dialogTitle }}</h5>
    <div class="btn-container">
      <button (click)="closeModal()" class="dialog-btn btn-cancel">Não</button>
      <button
        *ngIf="isAdmin"
        (click)="deleteRoute()"
        class="dialog-btn btn-keep"
      >
        Sim
      </button>
      <button
        *ngIf="!isAdmin"
        (click)="confirmSchedule()"
        class="dialog-btn btn-keep"
      >
        Sim
      </button>
    </div>
  </div>
</app-dialog>
