<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>

    <mat-nav-list>
      <a
        routerLinkActive="selected"
        *ngFor="let route of routes"
        mat-list-item
        [routerLink]="route[0]"
        >{{ route[1] }}</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>flights-angular</span>
    </mat-toolbar>
    <div class="title-container">
      <h2 class="title">{{ pageTitle }}</h2>
      <app-button
        [text]="buttonText"
        [isDisabled]="false"
        (click)="navigateTo()"
      ></app-button>
    </div>

    <main class="main-container">
      <ng-content></ng-content>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
