<app-menu>
  <form>
    <div class="form-field-row">
      <app-input
        errorMessage="Nome é obrigatório"
        [fieldReference]="getReference('name')"
        label="Nome"
        [required]="true"
        [isText]="true"
      ></app-input>
      <app-input
        errorMessage="E-mail inválido"
        [fieldReference]="getReference('email')"
        label="E-mail"
        [required]="true"
        [isText]="true"
      ></app-input>
    </div>
    <div class="form-field-row">
      <app-input
        errorMessage="Senha é obrigatória"
        [fieldReference]="getReference('password')"
        label="Senha"
        [required]="true"
        [isText]="true"
        type="password"
      ></app-input>
      <app-input
        errorMessage="Senhas não coincidem"
        [fieldReference]="getReference('confirmPassword')"
        label="Confirmar Senha"
        [required]="true"
        [isText]="true"
        type="password"
      ></app-input>
    </div>
    <div class="form-field-row">
      <app-input
        label="Localização Atual"
        [required]="true"
        [fieldReference]="getReference('actualLocation')"
        [options]="locations"
        [isAsyncSelect]="true"
      ></app-input>
      <app-input
        label="Tipo de Usuário"
        [required]="true"
        [fieldReference]="getReference('isAdmin')"
        [options]="userOptions"
        [isSelect]="true"
        placeHolder="Tipo de Usuário"
      ></app-input>
    </div>
    <app-button
      class="btn-save"
      text="Salvar Usuário"
      type="button"
      [isDisabled]="false"
    ></app-button>
  </form>
</app-menu>
