<app-menu>
  <div>
    <app-input
      errorMessage="Nome é obrigatório"
      [fieldReference]="getReference('name')"
      label="Nome"
      [required]="true"
    ></app-input>
    <app-input
      errorMessage="E-mail inválido"
      [fieldReference]="getReference('email')"
      label="E-mail"
      [required]="true"
    ></app-input>
  </div>
  <div>
    <app-input
      errorMessage="Senha é obrigatória"
      [fieldReference]="getReference('password')"
      label="Senha"
      [required]="true"
      type="password"
    ></app-input>
    <app-input
      errorMessage="Senhas não coincidem"
      [fieldReference]="getReference('confirmPassword')"
      label="Confirmar Senha"
      [required]="true"
      type="password"
    ></app-input>
  </div>
</app-menu>
