<div class="login-container">
  <div class="top-lane"></div>
  <form>
    <img src="../../../../assets/images/logo.jpg" />
    <app-input
      label="E-mail"
      placeHolder="Seu e-mail"
      type="email"
      [fieldReference]="getReference('login')"
      errorMessage="E-mail inválido"
      [required]="true"
      (btnIsDisabled)="statusBtn($event)"
      [isText]="true"></app-input>

    <app-input
      label="Senha"
      placeHolder="Sua senha"
      type="password"
      [fieldReference]="getReference('password')"
      [required]="true"
      (keyup.enter)="handleLogin()"
      (btnIsDisabled)="statusBtn($event)"
      [isText]="true"></app-input>

    <app-button
      type="button"
      text="Logar"
      (click)="handleLogin()"
      [isDisabled]="!btnIsDisabled"
      [isLoading]="isLoading">
    </app-button>
  </form>
  <div class="bottom-lane"></div>
  <button (click)="hello()">hello</button>
</div>
