@import "../../../assets/styles/variables.scss";

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: auto;

  .top-lane,
  .bottom-lane {
    background-color: $corSecundaria;
    width: 100%;
    height: 50px;

    &.bottom-lane {
      background: $corPrimaria;
    }
  }

  form {
    img {
      width: 200px;
      border: 1px solid rgba(7, 18, 177, 0.2);
      border-radius: 4px;
    }

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    border: 1px solid rgba(7, 18, 177, 0.2);
    box-shadow: 1px 1px 1px rgb(110, 110, 235);
    padding: 20px;
    border-radius: 4px;
    height: fit-content;
  }
}
