.flight-main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 95%;
  grid-gap: 10px 10px;

  .flight-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 10px;
    gap: 16px;
    cursor: pointer;

    a {
      text-decoration: none;
      color: black;
    }

    &.booked {
      border: 1px solid rgba(7, 177, 27, 0.2);
      border-radius: 4px;
      background-color: rgba(7, 177, 27, 0.2);
    }

    &.canceled {
      border: 1px solid rgba(177, 7, 7, 0.2);
      border-radius: 4px;
      background-color: rgba(177, 7, 7, 0.2);
    }

    &.done {
      border: 1px solid rgba(7, 18, 177, 0.2);
      border-radius: 4px;
      background-color: rgba(7, 18, 177, 0.2);
    }

    .btn-view-details {
      padding: 10px 20px;
      font-size: 16px;
      text-align: center;
      text-decoration: none;
      border-radius: 4px;
      border: 1px solid black;
      cursor: pointer;
      background: inherit;

      &:hover {
        filter: brightness(0.8);
      }
    }

    .current-flight {
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px 10px 0px;
    }
  }
}

.dialog-content {
  background-color: #fff;
  width: 400px;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  h5 {
    font-weight: normal;
    width: 100%;
    font-size: 16px;
  }

  .btn-container {
    display: flex;
    gap: 20px;

    .dialog-btn {
      display: inline-block;
      padding: 10px 20px;
      font-size: 16px;
      font-weight: normal;
      text-align: center;
      text-decoration: none;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      width: 100%;
    }

    /* Estilo padrão */
    .dialog-btn {
      background-color: #4758b8;
      color: white;

      &.btn-cancel {
        background-color: white;
        border: 1px solid #4758b8;
        color: #4758b8;

        &:hover {
          background-color: #f44a3d;
          border: 1px solid #f44a3d;
          color: white;
        }
      }
    }

    /* Estilo quando o cursor está em cima do botão */
    .dialog-btn:hover {
      background-color: #4758b8;
      filter: brightness(1.2);
    }

    /* Estilo quando o botão é clicado */
    .dialog-btn:active {
      background-color: #3e8e41;
    }
  }
}
