<app-menu>
  <main class="flight-main-container">
    <div
      *ngFor="let flight of flights"
      class="flight-container"
      [ngClass]="{
        booked: flight.flightStatus === 'BOOKED',
        canceled: flight.flightStatus === 'CANCELED',
        done: flight.flightStatus === 'DONE'
      }">
      <strong>Status: {{ flightStatus(flight.flightStatus) }}</strong>
      <span>Agendado: {{ formatDate(flight.createdAt) }}</span>
      <span *ngIf="hasUpdate(flight)"
        >Atualizada: {{ formatDate(flight.updatedAt) }}</span
      >
      <span *ngIf="isDeleted(flight)"
        >Cancelada: {{ formatDate(flight.deletedAt) }}</span
      >
      <button class="btn-view-details">Visualizar Detalhes</button>

      <div class="current-flight" *ngIf="showDeleteIcon(flight)">
        <app-icon iconType="delete_outline" (click)="openModal(flight.id)">
        </app-icon>
      </div>
    </div>
  </main>
</app-menu>
<app-dialog *ngIf="showDeleteFlight">
  <div class="dialog-content">
    <h5>Deseja cancelar a viagem? Essa ação é irreversível.</h5>

    <div class="btn-container">
      <button (click)="closeModal()" class="dialog-btn btn-cancel">Não</button>

      <button (click)="deleteSchedule()" class="dialog-btn btn-keep">
        Sim
      </button>
    </div>
  </div>
</app-dialog>
