::ng-deep mat-form-field,
.mat-form-field {
  width: 300px;
}

::ng-deep
  mat-form-field
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: rgb(206, 206, 210);
}

.eye-color {
  color: blue;
}

.invalid {
  color: red;

  mat-label {
    color: red;
  }

  .eye-color {
    color: red;
  }

  input {
    color: red;
    &::placeholder {
      color: red;
    }
  }

  ::ng-deep .mat-mdc-form-field-hint-wrapper {
    position: static;

    div {
      margin-top: 10px;
      max-width: 240px;
    }
  }

  ::ng-deep .mat-mdc-form-field-bottom-align::before {
    content: none;
  }
}

::ng-deep.mat-mdc-checkbox
  .mdc-checkbox
  .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not(
    [data-indeterminate="true"]
  )
  ~ .mdc-checkbox__background {
  background: white !important;
}
