.eye-color {
  color: blue;
}

.invalid {
  color: red;

  mat-label {
    color: red;
  }

  .eye-color {
    color: red;
  }

  input {
    color: red;
    &::placeholder {
      color: red;
    }
  }
}
